#DIV_APV{
    color: rgb(71, 126, 17);
}
#DIV_Rslt{
    color: darkblue;
}
#DIV_RPV{
    color: rgb(145, 14, 14);
}
#TITULO
{
    color: darkgoldenrod;
    margin-left: 500px;
}
#DIV_N1, #DIV_N2, #DIV_N3, #DIV_N4{
    color: rgb(212, 132, 27);
   
}
