/* formatação */
#meu-div {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
#bimestre1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
#bimestre2 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
#bimestre3 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
#bimestre4 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
#resultado {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
